{% extends "base.html" %}
{% load i18n static %}
{% load allauth account %}

{% block head_title %}
{% trans "Email Verification" %}
{% endblock head_title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="main-container">
    <div class="auth-container">
        <h1 class="text-center">{% trans "Enter Email Verification Code" %}</h1>
        {% setvar email_link %}
        <a href="mailto:{{ email }}">{{ email }}</a>
        {% endsetvar %}
        <p class="text-center">
            {% blocktranslate %}We’ve sent a code to {{ email_link }}. The code expires shortly, so please enter it
            soon.{% endblocktranslate %}
        </p>
        {% url 'account_email_verification_sent' as action_url %}
        <form method="post" action="{{ action_url }}" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {{ redirect_field }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
                {% if cancel_url %}
                <a href="{{ cancel_url }}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                {% else %}
                <button type="submit" form="logout-from-stage" class="btn btn-secondary">{% trans "Cancel" %}</button>
                {% endif %}
            </div>
        </form>
        {% if not cancel_url %}
        <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}" style="display: none;">
            <input type="hidden" name="next" value="{% url 'account_login' %}">
            {% csrf_token %}
        </form>
        {% endif %}
    </div>
</section>
{% endblock content %}