{% extends "base.html" %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css %}


{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<section class="main-container">
    <div class="auth-container">
        <h1>{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Enter your email below to receive password reset instructions." %}</p>

        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="cta-button">{% trans "Send Reset Link" %}</button>
        </form>

        <p>{% trans "Please contact us if you have trouble resetting your password." %}</p>
    </div>
</section>
{% endblock content %}