/* Base Styles: Center the section on the page */
:root {
    --primary-color: #8e9b90;
    --secondary-color: #d4cdab;
    --accent-color: #BF4F51;
    --background-color: #f4f4f4;
    --text-color: #333;
    --hover-accent: #FF6347;
    --hover-bg: #fff;
    --font-family: 'Arial', sans-serif;
    --transition-speed: 0.3s ease-in-out;
}

main {
    background: linear-gradient(to right, #fff, #d4cdab);
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    font-size: 20px;
}

p {
    font-size: 20px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    /* Ensure the gradient is visible */
    margin: 0;
}

/* Style for the auth-container */
.auth-container {
    max-width: 400px;
    width: 100%;
    padding: 70px;
    background: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

/* Style for buttons */
.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

/* Style for the sign-up link */
.sign-up-link {
    margin-top: 15px;
}

.sign-up-link a {
    color: var(--secondary-color);
    text-decoration: none;
}

.sign-up-link a:hover {
    text-decoration: underline;
}

/* Media Queries */

/* Small screens (phones) */
@media (max-width: 480px) {
    .auth-container {
        padding: 15px;
        max-width: 90%;
    }

    .btn-primary {
        padding: 12px;
    }

    .sign-up-link {
        font-size: 16px;
    }
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
    .auth-container {
        max-width: 60%;
        padding: 50px;
    }

    .btn-primary {
        padding: 22px;
        font-size: 18px;
    }

    .sign-up-link {
        font-size: 24px;
    }
}

/* Large screens (desktops, 1024px and below) */
@media (max-width: 1024px) {
    .auth-container {
        max-width: 400px;
        padding: 40px;
    }

    .btn-primary {
        padding: 16px;
        /* A balanced button padding */
        font-size: 16px;
    }

    .sign-up-link {
        font-size: 18px;
    }
}

/* Extra-large screens (large desktops, 1200px and below) */
@media (max-width: 1200px) {
    .auth-container {
        max-width: 500px;
        padding: 60px;
    }

    .btn-primary {
        padding: 18px;
        font-size: 20px;
    }

    .sign-up-link {
        font-size: 28px;
    }
}