/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8e9b90;
    --secondary-color: #d4cdab;
    --accent-color: #BF4F51;
    --background-color: #f4f4f4;
    --text-color: #333;
    --hover-accent: #FF6347;
    --hover-bg: #fff;
    --font-family: 'Arial', sans-serif;
    --transition-speed: 0.3s ease-in-out;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Container and Header Styling */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15),
        0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow var(--transition-speed);
}

.logo {
    height: 200px;
    width: 200px;
}

main {
    min-height: 100vh;
}

span {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.2rem;
    transition: all var(--transition-speed);
}

/* Hover effect for "Sale" */
span:hover {
    color: var(--hover-accent);
    text-shadow: 2px 2px 10px var(--hover-accent);
    transform: scale(1.9);
}

a:hover {
    text-decoration: none;
}

.logo-brand {
    text-align: center;
    margin-bottom: 1rem;
}

.branding .brand {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.brand:hover {
    color: var(--hover-bg);
    text-shadow: 0 0 5px var(--secondary-color);
}

/* Main styling */

.background-image {
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.bgimg>.content {
    position: relative;
    z-index: 1;
}

.cta-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cta-content {
    text-align: center;
    max-width: 80%;
    padding: 50px;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 80px;
    border-radius: 10px;
}

.cta-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--background-color);
}

.cta-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--background-color);
}

.cta-button {
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--hover-bg);
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    text-decoration: none;
}

.cta-button:hover {
    background-color: var(--secondary-color);
    color: black;
    box-shadow: 0 0 5px var(--secondary-color);
}


/* Navigation and Layout */
.row {
    display: flex;
    justify-content: space-between;
}

.col-sm {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Navigation List Styling */
.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    flex-wrap: nowrap;
}

.nav-list li {
    display: inline-block;
}

.nav-list li a {
    color: var(--secondary-color);
    font-size: 1.1rem;
    transition: color var(--transition-speed);
    white-space: nowrap;
}

.nav-list li a:hover {
    color: var(--hover-bg);
    font-size: large;
    text-shadow: 0 0 5px var(--secondary-color);
}

.nav-link.active {
    color: var(--hover-bg) !important;
    text-shadow: 0 0 5px var(--secondary-color);
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: none;
}

/* Ensure active link styles apply even when hovering */
.nav-item.active:hover .nav-link {
    text-decoration: underline;
    text-shadow: none;
    font-weight: bold;
}

/* Show the submenu when hovering over the parent item */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item .dropdown-menu {
    display: none;
}

.nav-item.open .dropdown-menu {
    display: block;
}


.user.active {
    color: black;
    background-color: var(--hover-bg);
    font-size: large;
}

.user.active:hover .user {
    text-shadow: none;
    font-size: large;
}

/* Ensuring navigation is properly aligned vertically */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Search Bar Styling */
.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--hover-bg);
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid var(--secondary-color);
    height: 2.5em;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2.5rem;
}

.search-bar input {
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1rem;
    flex: 1;
}

.search-bar button {
    background-color: var(--secondary-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color var(--transition-speed);
    height: 100%;
    width: 3rem;
}

.search-bar button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}

/* Shopping Cart Button Styling */
.profileicons button {
    background-color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 2.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color var(--transition-speed);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.profileicons p {
    padding: 5px;
    font-size: 15px;
    color: black;
}

.profileicons button:hover {
    background-color: var(--hover-bg) !important;
    color: black;
    box-shadow: 0 0 5px var(--secondary-color);
}

.product-management {
    background-color: var(--secondary-color);
    display: flex;
    transition: background-color var(--transition-speed);
    color: var(--primary-color);
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid var(--secondary-color);
    height: 2rem;
    max-width: 400px;
    padding: 0.5rem;
    margin-top: 2.5rem;
    margin-right: 0.5rem;
    font-size: 10px;
}

.product-management:hover {
    background-color: var(--hover-bg) !important;
    color: black;
    box-shadow: 0 0 5px var(--secondary-color);
}

/* Delivery banner */
#delivery-banner .col {
    background-color: var(--secondary-color);
}


/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--hover-bg);
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 0;
}

.footer p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

#map-placeholder {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 200px;
}

footer h4 {
    color: var(--secondary-color);
}

.footer-store-info a {
    color: var(--hover-bg);
}

#map {
    height: 300px;
    width: 100%;
}

.social-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.social-icons {
    background-color: var(--secondary-color);
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color var(--transition-speed), color var(--transition-speed), box-shadow var(--transition-speed);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.social-icons:hover {
    background-color: var(--hover-bg);
    color: black;
    box-shadow: 0 0 5px var(--secondary-color);
}

/* Initially make the menu visible on large screens */
.menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Hamburger Menu */

.hamburger i {
    display: none;
    background-color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color var(--transition-speed);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}



/* Media Queries */

/* Small devices (phones, 576px and below) */
@media (max-width: 576px) {
    .container {
        width: 95%;
    }

    .logo {
        height: 150px;
        width: 150px;
    }

    .branding .brand {
        font-size: 1.5rem;
    }

    .nav-list {
        flex-direction: column;
        gap: 10x;
        padding: 5px;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .footer p {
        font-size: 0.8rem;
    }

    .footer-links a {
        font-size: 0.8rem;
    }

    .search-bar {
        max-width: 300px;
    }
}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        background-color: #8e9b90;
    }

    .search-bar {
        margin: 0;
    }

    .profileicons button {
        margin: 0;
    }

    .product-management {
        margin-top: 0;
    }


    /* Show the menu when it's active (after clicking the hamburger) */
    .menu.active {
        display: flex;
    }

    .hamburger i {
        display: flex;
        position: absolute;
        top: 1.5rem;
        /* Adjusted for tablets */
        left: 1.5rem;
        z-index: 100;
        background-color: #d4cdab;
        /* Override for tablets */
        color: #8e9b90;
        /* Override for tablets */
        font-size: 1.2rem;
        /* Slightly larger for tablets */
        width: 2.5rem;
        /* Slightly larger for tablets */
        height: 2.5rem;
    }

    .nav-list {
        flex-direction: column;
        gap: 15px;
    }

    /* Show the dropdown when the parent is clicked (for mobile) */
    .nav-item.open .dropdown-menu {
        display: block;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-map {
        display: none;
    }

    .social-links ul {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

    .social-links ul li {
        display: inline-block;
    }
}

/* Large devices (desktops, 992px and below) */
@media (max-width: 992px) {
    .container {
        width: 90%;
    }

    .logo {
        height: 180px;
        width: 180px;
    }

    .branding .brand {
        font-size: 1.8rem;
    }

    .search-bar {
        max-width: 350px;
        margin: 0;
    }

    .social-links ul {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
}

/* Extra-large devices (large desktops, 1200px and below) */
@media (max-width: 1200px) {
    .nav-list {
        gap: 1.5rem;
    }

    .row {
        gap: 20px;
    }

    .footer-links a {
        font-size: 0.9rem;
    }

    .search-bar {
        margin: 0;
    }
}