* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    list-style: none;
}

header {
    background-color: #8e9b90;
}

.brand {
    color: #d4cdab;
}

nav {
    text-align: center;
}

nav li {
    flex-direction: column;
}

nav li a {
    text-decoration: none;
    color: #d4cdab;
}

main {
    min-height: 100vh;

}

footer {
    background-color: #8e9b90;
    text-align: center;
}