:root {
    --primary-color: #8e9b90;
    --secondary-color: #d4cdab;
    --accent-color: #BF4F51;
    --background-color: #f4f4f4;
    --text-color: #333;
    --hover-accent: #FF6347;
    --hover-bg: #fff;
    --font-family: 'Arial', sans-serif;
    --transition-speed: 0.3s ease-in-out;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    padding: 20px;
}

/* Create a grid layout with a fixed sidebar and a flexible product grid */
.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    /* Sidebar: 250px | Products take remaining space */
    gap: 20px;
    padding: 20px;
}

aside {
    width: 30%;
    /* Sidebar width */
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Sidebar Styling */
.sidebar {
    padding: 20px;
    border-radius: 10px;
    height: 100vh;
    /* Full height */
    position: sticky;
    top: 0;
    border-right: 1px solid #000;
    width: 80%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Product Card */
.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.discount {
    color: red;
    font-weight: bold;
}

.cta-button {
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--hover-bg);
    font-size: 0.8rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    text-decoration: none;
}


/* Adjust for tablets */
@media (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
        /* 3 products per row */
    }
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        /* 2 products per row */
    }

    .sidebar {
        display: none;
    }

    .layout {
        grid-template-columns: 1fr;
        /* Products take full width */
    }

    .product-card {
        margin: 20px;
        padding: 30px;
    }
}

/* Adjust for very small screens */
@media (max-width: 480px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
        /* 1 product per row */
    }
}