main {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.page-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px;
    font-size: 2.5rem
}

.product-details {
    display: grid;
    grid-template-areas: "image info""feedback form";
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 30px;
    border: 1px solid #ccc;
    width: 80%;
    margin: 0 auto
}

.product-image {
    grid-area: image
}

.product-info {
    grid-area: info
}

.product-feedback {
    grid-area: feedback
}

.feedback-form {
    grid-area: form
}

.feedback-form,
.product-feedback,
.product-info {
    gap: 1rem
}

p {
    margin-top: 10px;
    font-size: 1rem
}

.feedback-form form {
    margin-top: 20px
}

.feedback-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700
}

.feedback-form select,
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem
}

.feedback-form textarea {
    resize: vertical
}

@media (max-width:1200px) {
    .product-details {
        width: 90%
    }
}

@media (max-width:992px) {
    .product-details {
        grid-template-areas: "image""info""feedback""form";
        grid-template-columns: 1fr
    }

    .cta-button {
        margin-top: 20px
    }
}

@media (max-width:768px) {
    .page-header {
        font-size: 2rem
    }

    .product-details {
        width: 100%;
        padding: 20px
    }

    .feedback-form form {
        margin-top: 15px
    }

    .feedback-form label,
    .feedback-form select,
    .feedback-form textarea {
        font-size: .9rem
    }
}

@media (max-width:576px) {
    .page-header {
        font-size: 1.5rem
    }

    .product-details {
        padding: 15px
    }

    .feedback-form form {
        margin-top: 10px
    }

    .feedback-form label,
    .feedback-form select,
    .feedback-form textarea {
        font-size: .8rem
    }
}