{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Core css -->
    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- JS -->
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Motion & Balance {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="branding">
                <a href="/" class="brand">Motion & balance</a>
            </div>
            <div class="row g-4">
                <!-- Use Bootstrap gutter class for spacing -->
                <div class="col-sm">
                    <!-- Search Bar (left) -->
                    <div class="search-bar">
                        <input type="text" placeholder="Search for products..." />
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm">
                    <!-- Navigation Links (center) -->
                    <nav>
                        <ul class="nav-list">
                            <li>
                                <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                                    href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a class="nav-link {% if request.path == '/products/' %}active{% endif %}"
                                    href="">Products</a>
                            </li>
                            <li>
                                <a class="nav-link {% if request.path == '/sale/' %}active{% endif %}"
                                    href=""><span>Sale</span></a>
                            </li>
                            <li>
                                <a class="nav-link {% if request.path == '/faq/' %}active{% endif %}" href="">FAQ</a>
                            </li>
                            <li>
                                <a class="nav-link {% if request.path == '/signup/' %}active{% endif %}" href="">Sign
                                    up</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm">
                    <!-- Shopping Cart (right) -->
                    <div class="profileicons user {% if request.path == '/profile/' %}active{% endif %}">
                        <a href="#">
                            <button>
                                <i class="fa-solid fa-user"></i>
                            </button>
                        </a>
                    </div>
                    <div class="profileicons user {% if request.path == '/basket/' %}active{% endif %}">
                        <a href="#">
                            <button>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
    </header>


    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    <h1>hello</h1>
    {% endblock %}

    <main>

    </main>

    {% block content %}
    {% endblock %}


    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Motion & Balance. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/terms">Terms of Service</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}


</body>

</html>