{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Shop the best gym clothing, fitness apparel, and accessories. High-quality gym wear for men and women to boost performance and comfort.">
    <meta name="keywords"
        content="gym clothing, fitness apparel, workout gear, gym accessories, men's gym wear, women's fitness wear, athletic wear, sportswear">
    <meta name="author" content="Kevin Ölmheden">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Core css -->
    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- JS -->
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/index.js' %}"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Favicon -->
    {% comment %} Favicon {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_package/site.webmanifest' %}">

    <!-- Title -->
    <title>Motion & Balance {% block extra_title %}{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<body>
    <!-- Header logo and search bar -->
    <header role="banner">
        <div class="container">
            <!-- Branding -->
            <div class="logo-brand">
                <a href="{% url 'home' %}" class="brand {% if request.path == '/' %}active{% endif %}"
                    aria-label="Go to home page">
                    <!-- Improve page speed by lazy-loading image -->
                    <img class="logo" src="{% static 'images/motion.png' %}" alt="Motion & Balance brand-logo"
                        loading="lazy">
                </a>
            </div>

            <!-- Include Mobile Nav -->
            {% include 'includes/mobile-top-header.html' %}

            <!-- Navigation and Other Elements -->
            <nav aria-label="Main navigation">
                <ul class="row g-4">
                    <li class="col-sm">
                        <form method="GET" action="{% url 'all_products' %}" role="search"
                            aria-label="Search for products">
                            <div class="search-bar">
                                <label for="search-input" class="sr-only">Search</label>
                                <input id="search-input" type="search" placeholder="Search for products..." name="q" />
                                <button type="submit" aria-label="Search"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </li>

                    <!-- Include Main Nav -->
                    {% include 'includes/main-nav.html' %}

                    <!-- Management icons -->
                    <li class="col-sm profile-icons">
                        {% if user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="#" class="{% if request.path == '/profile/' %}active{% endif %}"
                            aria-label="Manage products in the Product Management section">
                            <button class="product-management" aria-label="Product Management Button">Product
                                Management</button>
                        </a>
                        {% else %}
                        <a href="{% url 'user_profile' %}"
                            class="profileicons user {% if request.path == '/profile/' %}active{% endif %}"
                            aria-label="Go to User Profile">
                            <button aria-label="User Profile Button"><i class="fa-solid fa-user"
                                    aria-hidden="true"></i></button>
                        </a>
                        {% endif %}
                        <a href="{% url 'account_logout' %}"
                            class="profileicons user {% if request.path == '/profile/' %}active{% endif %}"
                            aria-label="Log Out">
                            <button aria-label="Log Out Button">
                                <i class="fa-solid fa-sign-out-alt" aria-hidden="true"></i>
                            </button>
                        </a>
                        {% else %}
                        <a href="{% url 'account_login' %}"
                            class="profileicons user {% if request.path == '/profile/' %}active{% endif %}"
                            aria-label="Log In to your account">
                            <button aria-label="Log In Button">
                                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                            </button>
                        </a>
                        <a href="{% url 'account_signup' %}"
                            class="profileicons user {% if request.path == '/profile/' %}active{% endif %}"
                            aria-label="Sign Up for a new account">
                            <button aria-label="Sign Up Button"><i class="fas fa-user-plus"
                                    aria-hidden="true"></i></button>
                        </a>
                        {% endif %}
                        <div class="profileicons user {% if request.path == '/cart/' %}{% endif %}">
                            <a href="{% url 'view_cart' %}"
                                class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}"
                                aria-label="View your shopping cart">
                                <button aria-label="View Cart Button"><i class="fa-solid fa-cart-shopping"
                                        aria-hidden="true"></i></button>
                            </a>
                            <p class="my-0" aria-live="polite">
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                $0.00
                                {% endif %}
                            </p>
                        </div>
                    </li>


                    <!-- Delivery Banner -->
                    <div id="delivery-banner" class="row text-center">
                        <div class="col text-white">
                            <h3 class="logo-font my-1">Free shipping, when you order over
                                ${{ free_delivery_threshold }}!</h3>
                        </div>
                    </div>
    </header>


    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">
                    {% if message.tags == 'success' %}
                    Success
                    {% elif message.tags == 'info' %}
                    Info
                    {% elif message.tags == 'warning' %}
                    Warning
                    {% elif message.tags == 'error' %}
                    Error
                    {% endif %}
                </strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    {% block page_header %}
    {% endblock %}

    <main role="main">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer role="contentinfo" class="footer">
        <div class="container">
            <div class="row">
                <!-- Store Information Section (Left) -->
                <div class="col-md-4 footer-store-info">
                    <h3>Our Store</h3>
                    <address>
                        Visit us at:<br>
                        123 Store Street, Shopping City, Country<br>
                        Email: <a href="mailto:info@motionandbalance.com">info@motionandbalance.com</a><br>
                        Phone: <a href="tel:+1234567890">+1 (234) 567-890</a>
                    </address>
                </div>

                <!-- Social Media Section (Center) -->
                <div class="col-md-4 social-links text-center">
                    <h3>Visit us on Facebook!</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/profile.php?id=61573380537511" target="_blank"
                                aria-label="Facebook">
                                <i class="fab fa-facebook-f social-icons"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Newsletter Section (Right) -->
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form
                            action="https://outlook.us10.list-manage.com/subscribe/post?u=f5373ee0f63e281572d640ff1&amp;id=2b807bf8c3&amp;f_id=008694e5f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe</h2>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required
                                </div>
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                            class="asterisk">*</span></label><input type="email" name="EMAIL"
                                        class="required email" id="mce-EMAIL" required="" value=""></div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove
                                    this or risk form bot signups */
                                    <input type="text" name="b_f5373ee0f63e281572d640ff1_2b807bf8c3" tabindex="-1"
                                        value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                            value="Subscribe">
                                    </div>
                                </div>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                        </form>
                    </div>

                    <!-- Copyright Section -->
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p>&copy; 2024 Motion & Balance. All rights reserved.</p>
                        </div>
                    </div>
                </div>
    </footer>


    {% block postloadjs %}
    <script type="text/javascript">
        // Initialize all toasts
        $(document).ready(function () {
            $('.toast').toast('show'); // Show the toast messages
        });
    </script>



    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
            fnames[6] = 'COMPANY';
            ftypes[6] = 'text';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    <script>
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('meta[name="csrf-token"]').attr("content")
            }
        });
    </script>
    {% endblock %}
</body>

</html>