{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css %}

{% block page_header %}
{% if category.parent_category %}
<h1 class="page-header">{{ category.parent_category.name }}</h1>
{% else %}
<h1 class="page-header">{{ category.name }}</h1>
{% endif %}
{% endblock %}

{% block content %}
<!-- Products filtering column -->
<div class="layout">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Filters</h2>
        <form method="get">
            {{ form.as_p }}
            <button type="submit" class="cta-button">Apply Filters</button>
            <a href="{% url 'all_products' %}" class="cta-button">Reset Filters</a>
        </form>
    </aside>

    <!-- Products Grid (Django Templating) -->
    <section class="products">
        {% for product in products %}
        <div class="product-card">
            <div class="product-image">
                {% if product.images.first %}
                <img src="{{ product.images.first.image.url }}" alt="{{ product.images.first.alt_text }}">
                {% endif %}
            </div>
            <div class="product-details">
                <h3>{{ product.name }}</h3>
                <p>Price: ${{ product.price }}</p>

                {% if product.discount_percentage %}
                <p class="discount">Discount: {{ product.discount_percentage }}%</p>
                <p class="discount">Discounted Price: ${{ product.discount_price }}</p>
                {% endif %}

                <p>Average Rating: {{ product.average_rating }}</p>

                <button class="cta-button">Add to Cart</button>
                <a href="{% url 'product_details' product.id %}" class="cta-button">View Details</a>
            </div>
        </div>
        {% endfor %}
    </section>
</div>


{% endblock %}