{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="layout">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Filters</h2>
        <form method="get">
            {{ form.as_p }}
            <button type="submit" class="cta-button">Apply Filters</button>
            <a href="{% url 'all_products' %}" class="cta-button">Reset Filters</a>
        </form>
    </aside>

    <!-- Products Grid (Django Templating) -->
    <section class="products">
        {% for product in products %}
        <div class="product-card">
            <div class="product-image">
                {% if product.images.first %}
                <img src="{{ product.images.first.image.url }}" alt="{{ product.images.first.alt_text }}">
                {% endif %}
                <i class="fas fa-heart wishlist-icon {% if product.id in wishlist_product_ids %}added{% endif %}"
                    data-product-id="{{ product.id }}"></i>
            </div>
            <div class="product-details">
                <h3>{{ product.name }}</h3>
                <p>Price: ${{ product.price }}</p>

                {% if product.discount_percentage %}
                <p class="discount">Discount: {{ product.discount_percentage }}%</p>
                <p class="discount">Discounted Price: ${{ product.discount_price }}</p>
                {% endif %}
                <p>Average Rating: {{ product.average_rating }}</p>
                <a href="{% url 'product_details' product.id %}" class="cta-button">View Details</a>
            </div>
        </div>
        {% endfor %}
    </section>
</div>

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('.wishlist-icon').click(function () {
            var icon = $(this);
            var productId = icon.data('product-id');
            var url = icon.hasClass('added') ?
                `/products/remove_from_wishlist/${productId}/` :
                `/products/add_to_wishlist/${productId}/`;

            $.post(url, {}, function () {
                // After the request, the page will reload and update the icon accordingly.
            }).fail(function (xhr, status, error) {
                console.error("Error:", error);
                console.log("Response:", xhr.responseText);
            });
        });
    });
</script>
{% endblock %}
{% endblock %}